In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

ksprojects_df = pd.read_csv('/content/gdrive/My Drive/Thinkful/python_for_data_scientists/ksprojects.csv')
ksprojects_df.head()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

           id  ...  pledged
0  1147015301  ...    40.00
1  1100844465  ...   700.00
2  1316334968  ...  1367.00
3  1304906577  ...  6575.00
4  1099226462  ...   501.66

[5 rows x 13 columns]

In [0]:
#How many rows of data in DF?

num_rows = ksprojects_df.shape[0]
print('There are {} rows of data'.format(num_rows))

There are 65418 rows of data

In [0]:
#What are the names and data types of the columns?

ksprojects_df.columns

Index(['id', 'name', 'category', 'main_category', 'deadline', 'goal',
       'launched', 'state', 'backers', 'country', 'usd_pledged', 'currency',
       'pledged'],
      dtype='object')

In [0]:
#Do any of the columns contain null values?

truthiness = ksprojects_df.isnull()
truthiness.sum() > 0

id               False
name             False
category         False
main_category    False
deadline         False
goal             False
launched         False
state            False
backers          False
country          False
usd_pledged       True
currency         False
pledged          False
dtype: bool

In [0]:
#Find all successful documentary projects and sort them by the amount pledged.  Print the top 10 highest pledges.

success_docs = (ksprojects_df['category'] == 'Documentary') & (ksprojects_df['state'] == 'successful')
successful_docs_df = ksprojects_df.iloc[success_docs.values]
most_successful = successful_docs_df.sort_values(by='usd_pledged', ascending=False)
most_successful.head(10)

               id  ...   pledged
11731  1078982332  ...  384376.0
24166  1162836718  ...  313158.0
22237   122290911  ...  163891.0
12127  1326363492  ...  240022.0
28003  1205913248  ...  177421.0
27402  1135999291  ...  176746.0
16243  1061853312  ...  167917.0
27268  1228065368  ...  165401.0
43820  1194449879  ...  163930.0
55322  1264072338  ...  114000.0

[10 rows x 13 columns]

In [0]:
#Create a new column named average_per_backer and set its value to total amt pledged / number of backers.  What happened to the rows with 0 backers?  How can this be dealt with?

ksprojects_df = ksprojects_df.assign(average_per_backer = ksprojects_df.pledged / ksprojects_df.backers)
ksprojects_df.head()

#Rows with zero backers receive an average_per_backer of NaN.  One way to deal with this is to drop rows with zero backers.

           id  ... average_per_backer
0  1147015301  ...          10.000000
1  1100844465  ...          50.000000
2  1316334968  ...          42.718750
3  1304906577  ...         273.958333
4  1099226462  ...          22.802727

[5 rows x 14 columns]

In [0]:
#Drop all rows with zero backers then repeat the previous exercise.

has_backers = ksprojects_df['backers'] != 0
ksprojects_pruned = ksprojects_df.iloc[has_backers.values]
ksprojects_pruned.head()

           id  ... average_per_backer
0  1147015301  ...          10.000000
1  1100844465  ...          50.000000
2  1316334968  ...          42.718750
3  1304906577  ...         273.958333
4  1099226462  ...          22.802727

[5 rows x 14 columns]

In [0]:
#Create a crosstab to get a count of records for each combination of state and category

pd.crosstab(ksprojects_df['category'], ksprojects_df['state'])

state        canceled  failed  live  successful  suspended  undefined
category
3D Printing        17      59     3          43          2          1
Academic           21      86     3          43          4          0
Accessories        48     238    16         121          2          1
Action             14      79     1          16          0          0
Animals             2      31     0          11          1          0
...               ...     ...   ...         ...        ...        ...
Woodworking        10     125     4          38          2          0
Workshops           0      12     1           8          1          0
World Music        31     174     2         168          1          0
Young Adult        16      78     1          23          0          0
Zines               6      26     1          17          0          0

[158 rows x 6 columns]

In [7]:
#NOW ON TO NYCFLIGHTS13 ASSIGNMENT
#Merge flights and airlines dataframes into one

flights_df = pd.read_csv('/content/gdrive/My Drive/Thinkful/python_for_data_scientists/flights.csv')
airlines_df = pd.read_csv('/content/gdrive/My Drive/Thinkful/python_for_data_scientists/airlines.csv')

nycflights13 = pd.merge(flights_df, airlines_df)
nycflights13.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336776 entries, 0 to 336775
Data columns (total 20 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          328521 non-null float64
sched_dep_time    336776 non-null int64
dep_delay         328521 non-null float64
arr_time          328063 non-null float64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
name              336776 non-null object
dtypes: float64(5), int64(9), object(6)
memory usage: 54.0+ MB

In [3]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          328521 non-null float64
sched_dep_time    336776 non-null int64
dep_delay         328521 non-null float64
arr_time          328063 non-null float64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

In [5]:
airlines_df.describe()

       carrier                   name
count       16                     16
unique      16                     16
top         YV  United Air Lines Inc.
freq         1                      1

In [19]:
nycflights13.isnull().any(axis=0)

year              False
month             False
day               False
dep_time           True
sched_dep_time    False
dep_delay          True
arr_time           True
sched_arr_time    False
arr_delay          True
carrier           False
flight            False
tailnum            True
origin            False
dest              False
air_time           True
distance          False
hour              False
minute            False
time_hour         False
name              False
dtype: bool

In [0]:
#Are there any missing values in DF?  If so, drop them.
nycflights13.isnull().sum()
nycflights13.dropna()

        year  month  day  ...  minute            time_hour                   name
0       2013      1    1  ...      15  2013-01-01 05:00:00  United Air Lines Inc.
1       2013      1    1  ...      29  2013-01-01 05:00:00  United Air Lines Inc.
2       2013      1    1  ...      58  2013-01-01 05:00:00  United Air Lines Inc.
3       2013      1    1  ...       0  2013-01-01 06:00:00  United Air Lines Inc.
4       2013      1    1  ...       0  2013-01-01 06:00:00  United Air Lines Inc.
...      ...    ...  ...  ...     ...                  ...                    ...
336771  2013      9   19  ...       5  2013-09-19 18:00:00  SkyWest Airlines Inc.
336772  2013      9   20  ...       5  2013-09-20 18:00:00  SkyWest Airlines Inc.
336773  2013      9   22  ...       5  2013-09-22 18:00:00  SkyWest Airlines Inc.
336774  2013      9   23  ...       5  2013-09-23 18:00:00  SkyWest Airlines Inc.
336775  2013      9   24  ...       5  2013-09-24 18:00:00  SkyWest Airlines Inc.

[327346 rows x 20 columns]

In [8]:
#NOW ON TO CENSUS ASSIGNMENT

census_population_df = pd.read_csv('/content/gdrive/My Drive/Thinkful/python_for_data_scientists/state-populations.csv')
census_regions_df = pd.read_csv('/content/gdrive/My Drive/Thinkful/python_for_data_scientists/census-divisions.csv')

#Merge the two DFs into one called census

census = pd.merge(census_population_df, census_regions_df)
census.head()

        state      2010      2011  ...      2016  region            division
0     Alabama   4785492   4799918  ...   4863300   South  East South Central
1      Alaska    714031    722713  ...    741894    West             Pacific
2     Arizona   6408312   6467163  ...   6931071    West            Mountain
3    Arkansas   2921995   2939493  ...   2988248   South  West South Central
4  California  37332685  37676861  ...  39250017    West             Pacific

[5 rows x 10 columns]

In [9]:
#Re-shape census so that one column contains all population measures and another the year attributes
census.head()
census_melted = pd.melt(frame=census, id_vars=['region','division','state'], var_name='year', value_name='population')
census_sorted = census_melted.sort_values(by=['state','year'])
census_sorted.head(20)

    region            division    state  year  population
0    South  East South Central  Alabama  2010     4785492
51   South  East South Central  Alabama  2011     4799918
102  South  East South Central  Alabama  2012     4815960
153  South  East South Central  Alabama  2013     4829479
204  South  East South Central  Alabama  2014     4843214
255  South  East South Central  Alabama  2015     4853875
306  South  East South Central  Alabama  2016     4863300
1     West             Pacific   Alaska  2010      714031
52    West             Pacific   Alaska  2011      722713
103   West             Pacific   Alaska  2012      731089
154   West             Pacific   Alaska  2013      736879
205   West             Pacific   Alaska  2014      736705
256   West             Pacific   Alaska  2015      737709
307   West             Pacific   Alaska  2016      741894
2     West            Mountain  Arizona  2010     6408312
53    West            Mountain  Arizona  2011     6467163
104   West            Mountain  Arizona  2012     6549634
155   West            Mountain  Arizona  2013     6624617
206   West            Mountain  Arizona  2014     6719993
257   West            Mountain  Arizona  2015     6817565

In [0]:
#Group the data by year and summarize it
census_summarized = census_sorted.groupby(['year']).sum()
census_summarized = census_summarized.assign(average_per_state = census_summarized.population / 51)
census_summarized.head()

      population  average_per_state
year
2010   309348193       6.065651e+06
2011   311663358       6.111046e+06
2012   313998379       6.156831e+06
2013   316204908       6.200096e+06
2014   318563456       6.246342e+06

In [0]:
#Group the data by region, division, and year and summarize it
census_grouped = census_sorted.groupby(['region','division','year']).describe()
census_grouped.head(20)

                                  population  ...
                                       count  ...         max
region    division           year             ...
Midwest   East North Central 2010        5.0  ...  12841578.0
                             2011        5.0  ...  12860012.0
                             2012        5.0  ...  12870798.0
                             2013        5.0  ...  12879505.0
                             2014        5.0  ...  12867544.0
                             2015        5.0  ...  12839047.0
                             2016        5.0  ...  12801539.0
          West North Central 2010        7.0  ...   5996118.0
                             2011        7.0  ...   6010717.0
                             2012        7.0  ...   6025415.0
                             2013        7.0  ...   6042711.0
                             2014        7.0  ...   6060930.0
                             2015        7.0  ...   6076204.0
                             2016        7.0  ...   6093000.0
Northeast Middle Atlantic    2010        3.0  ...  19402640.0
                             2011        3.0  ...  19519529.0
                             2012        3.0  ...  19602769.0
                             2013        3.0  ...  19673546.0
                             2014        3.0  ...  19718515.0
                             2015        3.0  ...  19747183.0

[20 rows x 8 columns]